name: Build site artifact

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: Build (Jekyll)
        run: bundle exec jekyll build --destination _site

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: _site
          if-no-files-found: error
          retention-days: 7




